In [1]:
pip install catboost

Requirement already satisfied: catboost in /home/ad/anaconda3/lib/python3.13/site-packages (1.2.8)
Requirement already satisfied: graphviz in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (2.1.3)
Requirement already satisfied: pandas>=0.24 in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (1.15.3)
Requirement already satisfied: plotly in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /home/ad/anaconda3/lib/python3.13/site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ad/anaconda3/lib/python3.13/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ad/anaconda3/lib/python3.13/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ad/anaconda3/lib/python3.13/site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ad/anaconda3/lib/python3.13/site-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/ad/anaconda3/lib/python3.13/site-packages (from plotly->catboost) (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install xgboost

Requirement already satisfied: xgboost in /home/ad/anaconda3/lib/python3.13/site-packages (3.0.5)
Requirement already satisfied: numpy in /home/ad/anaconda3/lib/python3.13/site-packages (from xgboost) (2.1.3)
Requirement already satisfied: nvidia-nccl-cu12 in /home/ad/anaconda3/lib/python3.13/site-packages (from xgboost) (2.27.3)
Requirement already satisfied: scipy in /home/ad/anaconda3/lib/python3.13/site-packages (from xgboost) (1.15.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('data.csv')

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
X = df.drop(columns=['math_score'],axis=1)

In [7]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [8]:
y = df['math_score']

In [9]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

# Create column transformer with three type of transformer
->OHE

->Standered Scaler

->Column Transformer

Note:-we combine as pipeline

In [10]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [11]:
X= preprocessor.fit_transform(X)

In [12]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [13]:
X.shape

(1000, 19)

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)
X_train.shape,X_test.shape

((750, 19), (250, 19))

# Create an Evaluate Function to give all metrices after model training

In [15]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [16]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.2972
- Mean Absolute Error: 4.2383
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4825
- Mean Absolute Error: 4.3379
- R2 Score: 0.8778
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5515
- Mean Absolute Error: 5.1837
- R2 Score: 0.8077
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.6541
- Mean Absolute Error: 5.2217
- R2 Score: 0.8200
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.2976
- Mean Absolute Error: 4.2368
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4788
- Mean Absolute Error: 4.3354
- R2 Score: 0.8780
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.7831
- Mean Absolute Error: 4.5824
- R2 Score: 0.8502
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.1362
- Mean Absolute Error: 5.5256
- R2 Score: 0.7930
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.2887
- Mean Absolute Error: 0.0200
- R2 Score: 0.9996
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.6213
- Mean Absolute Error: 5.9560
- R2 Score: 0.7639
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2916
- Mean Absolute Error: 1.8244
- R2 Score: 0.9765
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.0934
- Mean Absolute Error: 4.7521
- R2 Score: 0.8491
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.8783
- Mean Absolute Error: 0.5772
- R2 Score: 0.9965
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3464
- Mean Absolute Error: 4.9605
- R2 Score: 0.8363
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9444
- Mean Absolute Error: 2.3221
- R2 Score: 0.9612
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.9762
- Mean Absolute Error: 4.6508
- R2 Score: 0.8548
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8111
- Mean Absolute Error: 4.7439
- R2 Score: 0.8487
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.2564
- Mean Absolute Error: 4.9212
- R2 Score: 0.8409
===================================

In [17]:
# RESULT
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
2                    Ridge  0.877990
0        Linear Regression  0.877824
7    CatBoosting Regressor  0.854830
5  Random Forest Regressor  0.849084
8       AdaBoost Regressor  0.840900
6             XGBRegressor  0.836290
1                    Lasso  0.820027
3    K-Neighbors Regressor  0.793004
4            Decision Tree  0.763909

# Going with linear regression

In [18]:
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(X_train, y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 87.78

In [19]:

# plt.scatter(y_test,y_pred);
# plt.xlabel('Actual');
# plt.ylabel('Predicted');

In [20]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df

     Actual Value  Predicted Value  Difference
521            91        76.415556   14.584444
737            53        58.835356   -5.835356
740            80        76.907370    3.092630
660            74        76.760032   -2.760032
411            84        87.454007   -3.454007
..            ...              ...         ...
109            70        64.035129    5.964871
430            64        63.158496    0.841504
77             80        82.733853   -2.733853
84             42        39.387374    2.612626
286            97        93.727782    3.272218

[250 rows x 3 columns]